<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Title and Icon -->

        <title id="title">MiroTalk RTMP流媒体</title>
        <link id="icon" rel="shortcut icon" href="../images/logo.svg" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            id="description"
            name="description"
            content="MiroTalk SFU 由 WebRTC 和 mediasoup 提供动力，支持浏览器中的实时简单安全快速视频通话、消息传递和屏幕共享功能。"
        />
        <meta
            id="keywords"
            name="keywords"
            content="webrtc, miro, mediasoup, mediasoup-client, 自托管, voip, sip, 实时通信, 聊天, 消息传递, 会议, webrtc stun, webrtc turn, webrtc p2p, webrtc sfu, 视频会议, 视频聊天, 视频会议, 多视频聊天, 多视频会议, 点对点, p2p, sfu, rtc, 替代方案, zoom, 微软teams, 谷歌会议, jitsi, 会议"
        />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/Root.css" />
        <link rel="stylesheet" href="../css/RtmpStreamer.css" />

        <!-- https://cdnjs.com/libraries/font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- Axios -->

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script defer src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>

        <!-- JS scripts -->
        <script defer src="../js/Brand.js"></script>
        <script async src="../js/Translate.js"></script>
        <script defer src="../js/RtmpStreamer.js"></script>
    </head>
    <body>
        <div id="popup" class="popup fadein hidden">
            <span id="popupMessage"></span>
            <button id="closePopup"><i class="fas fa-close"></i></button>
        </div>
        <div class="container fadein">
            <h1>RTMP流媒体</h1>
            <div class="input-group-inline">
                <input
                    id="apiSecret"
                    type="password"
                    value="mirotalkRtmpApiSecret"
                    placeholder="API Secret"
                    title="Enter the API secret here"
                />
            </div>
            <div class="input-group-inline">
                <input
                    id="rtmp"
                    type="text"
                    value=""
                    placeholder="rtmp://server:port/app/streamKey"
                    readonly
                    title="这是您的RTMP直播URL。无法编辑。"
                />
                <button id="copy" title="点击复制RTMP URL"><i class="fas fa-paste"></i>&nbsp;复制</button>
            </div>

            <video id="video" width="640" height="480"></video>

            <div class="button-group">
                <button id="startCamera" title="点击开始摄像头流式传输">
                    <i class="fas fa-video"></i>&nbsp;开始流式传输
                </button>
                <button id="startScreen" title="点击开始屏幕流式传输">
                    <i class="fas fa-desktop"></i>&nbsp;开始流式传输
                </button>
                <button id="stop" disabled title="点击停止流式传输">
                    <i class="fas fa-stop-circle"></i>&nbsp;停止流式传输
                </button>
            </div>
        </div>
        <footer id="footer">
            <p>&copy; 2025 MiroTalk SFU，版权所有</p>
        </footer>
    </body>
</html>
